.header {
  text-align: center;
  background-color: #00203fff;
  color: rgb(184, 228, 208);
  margin: 0px 100px 20px 100px;
  padding: 20px;
  border-radius: 7px;
}
.total-budget {
  color: #fd4431;
}
